{% extends 'base.html' %}


{% block content %}
<h4 align="center">Customer Details</h4>
<div class="container">
    <div class="row justify-content-center m-4">
        <div class="col-md-4">
            <fieldset>
                <center>
                    <form method="post" action="{% url 'continue' %}">
                        {% csrf_token %}
                    
                    <table border="2">
                        <tr>
                            <td><label for="">username</label></td>
                            <td><input type="text" placeholder="username" required autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td><label for="">Hose_Number</label></td>
                            <td><input type="text" placeholder="housenumber" required autocomplete="off"></td>
                    
                        </tr>
                        <tr>
                            <td><label for="">street</label></td>
                            <td><input type="text" placeholder="street" required autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td><label for="">pincode</label></td>
                            <td><input type="text" placeholder="pincode" required autocomplete="off" ></td>
                        </tr>
                          <tr>
                            <td><label for="">Email</label></td>
                            <td><input type="email" placeholder="email" required autocomplete="off"></td>
                    
                        </tr>
                        <tr>
                            <td><label for="">Mobile_Number</label></td>
                            <td><input type="tel" placeholder="Mobile_Number" required autocomplete="off"></td>
                        </tr>
                        <tr>
                          <td>City-State-Country</td>
                          <td><select name="" id="">
                            <option value="">--city--</option>
                            <option value="">HYD</option>
                            <option value="">Bangalore</option>
                            <option value="">chennai</option>
                            
                          </select>
                          <select name="" id="">
                              <option value="">--state--</option>
                              <option value="">TS</option>
                              <option value="">AP</option>
                              <option value="">KA</option>
                               </select>
                               <select name="" id="">
                                  <option value="">--country--</option>
                                  <option value="">India</option>
                                  <option value="">USA</option>
                                  <option value="">UK</option>
                                </select></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                 <tr> 
                                <td></td>
                                    <td>
                                        <input type="submit" value="continue">

                                    </td>
                                
                            </table>
                            </form>
                        </center>
                    </fieldset>
                    <a href="{% url 'ShowProducts' %}">Go Back</a>
        
            
            </div>

        </div>        
    </div>




{% endblock %}